#edit_pencil {
  margin-right: 15px;
  margin-left: 10px;
}
#delete_times {
  color: #ea6565;
}
#login-information {
  margin-top: 6%;
  text-align: center;
}
.add-new {
  position: absolute;
  top: 15%;
  right: 13%;
  font-size: 15px;
}
.add-new #icon-new {
  padding-left: 5px;
}
