<form action="{{ path('user_change_password') }}" {{ form_enctype(change_password_form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(change_password_form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>